<h2>Consulta </h2>
<hr>
<div class="row">
    <div class="col">
        <div class="row mb-3">

            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Nombre</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listaRegistros">
                            <td>{{user.nombre}}</td>
                            <td>{{user.correo}}</td>
                            <td>{{user.telefono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>